#logo{
    width: 70px;
    height: 70px;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #232323;
    position: static;
    margin: 0px;

}
img{
    width: 150px;
    height: 300px;
    border-radius: 10px;
    margin-right: 2px;
}
button{
    height: 60px;
    width: 300px;
    font-size: 15px;
    box-shadow: 10px;
    background-color: #1BD000;
    color: white;
    border-radius: 20px;
    margin-left: 40px;
}
p{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #232323;
}
li{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #232323;
}
h2{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #232323;
}
button:hover{
    text-decoration: underline;
    background-color: #1BC000;
}
h3{
    text-align: center;
    font-family: 'Merienda', cursive;
    color: #232323;
}
html{
    background: whitesmoke;
    
}
span{
    text-decoration: underline;
}
.scroll{
    overflow: auto;
    white-space: nowrap;
}
