#logo{
    width: 40px;
    height: 40px;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    background: #1B1D23;
    background-size: 100% 100;
    position: static;
    margin: 0px;

}
img{
    width: 130px;
    height: 260px;
    border-radius: 10px;
}
button{
    height: 60px;
    width: 300px;
    font-size: 15px;
    box-shadow: 10px;
    background-color: #1BD000;
    color: white;
    border-radius: 20px;
    margin-left: 35px;
    margin-left: 5cm;
    margin-right: 5cm;
}
p{
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
}
li{
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    margin-left: 5cm;
    margin-right: 5cm;
}
h2{
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    margin-left: 5cm;
    margin-right: 5cm;
}
button:hover{
    text-decoration: underline;
    background-color: #1BC000;
}
h3{
    text-align: center;
    font-family: 'Merienda', cursive;
    color: whitesmoke;
}
html{
    background: #24292E;
}
span{
    text-decoration: underline;
}
.scroll{
    overflow: auto;
    white-space: nowrap;
    margin-left: 5cm;
    margin-right: 5cm;
}
p{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 5cm;
    margin-right: 5cm;
}
